<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zanclick.redpacket.core.mapper.RedPacketMapper">
    <resultMap id="BaseResultMap" type="com.zanclick.redpacket.core.entity.RedPacket">
            <id column="id" property="id" jdbcType="BIGINT"/>
            <result column="amount" property="amount" jdbcType="VARCHAR"/>
            <result column="trade_no" property="tradeNo" jdbcType="VARCHAR"/>
            <result column="out_trade_no" property="outTradeNo" jdbcType="VARCHAR"/>
            <result column="brw_ord_no" property="brwOrdNo" jdbcType="VARCHAR"/>
            <result column="title" property="title" jdbcType="VARCHAR"/>
            <result column="app_id" property="appId" jdbcType="VARCHAR"/>
            <result column="state" property="state" jdbcType="INTEGER"/>
            <result column="type" property="type" jdbcType="INTEGER"/>
            <result column="merchant_no" property="merchantNo" jdbcType="VARCHAR"/>
            <result column="cashier_phone_no" property="cashierPhoneNo" jdbcType="VARCHAR"/>
            <result column="seller_no" property="sellerNo" jdbcType="VARCHAR"/>
            <result column="custom_phone" property="customPhone" jdbcType="VARCHAR"/>
            <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
            <result column="order_time" property="orderTime" jdbcType="TIMESTAMP"/>
            <result column="delay_days" property="delayDays" jdbcType="INTEGER"/>
            <result column="is_next_month_settle" property="isNextMonthSettle" jdbcType="INTEGER"/>
            <result column="collect_account_number" property="collectAccountNumber" jdbcType="VARCHAR"/>
            <result column="account_no" property="accountNo" jdbcType="VARCHAR"/>
            <result column="province_name" property="provinceName" jdbcType="VARCHAR"/>
            <result column="cashier_no" property="cashierNo" jdbcType="VARCHAR"/>
            <result column="province_code" property="provinceCode" jdbcType="VARCHAR"/>
            <result column="packet_no" property="packetNo" jdbcType="VARCHAR"/>
            <result column="trading_time" property="tradingTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="table">red_packet</sql>
    <sql id="Base_Column_List">
            `id`,
            `amount`,
            `trade_no`,
            `out_trade_no`,
            `brw_ord_no`,
            `title`,
            `app_id`,
            `state`,
            `type`,
            `merchant_no`,
            `cashier_phone_no`,
            `seller_no`,
            `custom_phone`,
            `create_time`,
            `order_time`,
            `delay_days`,
            `is_next_month_settle`,
            `collect_account_number`,
            `account_no`,
            `province_name`,
            `cashier_no`,
            `province_code`,
            `packet_no`,
            `trading_time`
    </sql>
    <sql id="Base_Where_Clause">
        <where>
            <trim prefixOverrides="and">
                    <if test="id != null">
                        AND `id`=#{id}
                    </if>
                    <if test="amount != null and amount != ''">
                        AND `amount`=#{amount}
                    </if>
                    <if test="tradeNo != null and tradeNo != ''">
                        AND `trade_no`=#{tradeNo}
                    </if>
                    <if test="outTradeNo != null and outTradeNo != ''">
                        AND `out_trade_no`=#{outTradeNo}
                    </if>
                    <if test="brwOrdNo != null and brwOrdNo != ''">
                        AND `brw_ord_no`=#{brwOrdNo}
                    </if>
                    <if test="title != null and title != ''">
                        AND `title`=#{title}
                    </if>
                    <if test="appId != null and appId != ''">
                        AND `app_id`=#{appId}
                    </if>
                    <if test="state != null">
                        AND `state`=#{state}
                    </if>
                    <if test="type != null">
                        AND `type`=#{type}
                    </if>
                    <if test="merchantNo != null and merchantNo != ''">
                        AND `merchant_no`=#{merchantNo}
                    </if>
                    <if test="cashierPhoneNo != null and cashierPhoneNo != ''">
                        AND `cashier_phone_no`=#{cashierPhoneNo}
                    </if>
                    <if test="sellerNo != null and sellerNo != ''">
                        AND `seller_no`=#{sellerNo}
                    </if>
                    <if test="customPhone != null and customPhone != ''">
                        AND `custom_phone`=#{customPhone}
                    </if>
                    <if test="createTime != null">
                        AND `create_time`=#{createTime}
                    </if>
                    <if test="orderTime != null">
                        AND `order_time`=#{orderTime}
                    </if>
                    <if test="delayDays != null">
                        AND `delay_days`=#{delayDays}
                    </if>
                    <if test="isNextMonthSettle != null">
                        AND `is_next_month_settle`=#{isNextMonthSettle}
                    </if>
                    <if test="collectAccountNumber != null and collectAccountNumber != ''">
                        AND `collect_account_number`=#{collectAccountNumber}
                    </if>
                    <if test="accountNo != null and accountNo != ''">
                        AND `account_no`=#{accountNo}
                    </if>
                    <if test="provinceName != null and provinceName != ''">
                        AND `province_name`=#{provinceName}
                    </if>
                    <if test="cashierNo != null and cashierNo != ''">
                        AND `cashier_no`=#{cashierNo}
                    </if>
                    <if test="provinceCode != null and provinceCode != ''">
                        AND `province_code`=#{provinceCode}
                    </if>
                    <if test="packetNo != null and packetNo != ''">
                        AND `packet_no`=#{packetNo}
                    </if>
                    <if test="tradingTime != null">
                        AND `trading_time`=#{tradingTime}
                    </if>
            </trim>
        </where>
        ORDER BY id DESC
        <if test="offset == null and limit != null">
            limit #{limit}
        </if>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </sql>

    <!-- 查询总数 -->
    <select id="selectCount" resultType="java.lang.Long" parameterType="java.util.Map">
        SELECT count(id)
        FROM
        <include refid="table"/>
        <include refid="Base_Where_Clause"/>
    </select>

    <!-- 查询 -->
    <select id="select" resultMap="BaseResultMap" parameterType="java.util.Map">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        <include refid="table"/>
        <include refid="Base_Where_Clause"/>
    </select>

    <!-- 查询所有 -->
    <select id="selectAll" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        <include refid="table"/>
    </select>

    <insert id="insert" parameterType="com.zanclick.redpacket.core.entity.RedPacket" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO
        <include refid="table"/>
        (
            `id`,
            `amount`,
            `trade_no`,
            `out_trade_no`,
            `brw_ord_no`,
            `title`,
            `app_id`,
            `state`,
            `type`,
            `merchant_no`,
            `cashier_phone_no`,
            `seller_no`,
            `custom_phone`,
            `create_time`,
            `order_time`,
            `delay_days`,
            `is_next_month_settle`,
            `collect_account_number`,
            `account_no`,
            `province_name`,
            `cashier_no`,
            `province_code`,
            `packet_no`,
            `trading_time`
        )
        VALUES(
            #{id},
            #{amount},
            #{tradeNo},
            #{outTradeNo},
            #{brwOrdNo},
            #{title},
            #{appId},
            #{state},
            #{type},
            #{merchantNo},
            #{cashierPhoneNo},
            #{sellerNo},
            #{customPhone},
            #{createTime},
            #{orderTime},
            #{delayDays},
            #{isNextMonthSettle},
            #{collectAccountNumber},
            #{accountNo},
            #{provinceName},
            #{cashierNo},
            #{provinceCode},
            #{packetNo},
            #{tradingTime}
        )
    </insert>

    <insert id="insertBatch" parameterType="java.util.List" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO
        <include refid="table"/>
        (
            `id`,
            `amount`,
            `trade_no`,
            `out_trade_no`,
            `brw_ord_no`,
            `title`,
            `app_id`,
            `state`,
            `type`,
            `merchant_no`,
            `cashier_phone_no`,
            `seller_no`,
            `custom_phone`,
            `create_time`,
            `order_time`,
            `delay_days`,
            `is_next_month_settle`,
            `collect_account_number`,
            `account_no`,
            `province_name`,
            `cashier_no`,
            `province_code`,
            `packet_no`,
            `trading_time`
        )
        VALUES
        <foreach collection="list" item="cm" index="index" separator=",">
            (
            #{cm.id},
            #{cm.amount},
            #{cm.tradeNo},
            #{cm.outTradeNo},
            #{cm.brwOrdNo},
            #{cm.title},
            #{cm.appId},
            #{cm.state},
            #{cm.type},
            #{cm.merchantNo},
            #{cm.cashierPhoneNo},
            #{cm.sellerNo},
            #{cm.customPhone},
            #{cm.createTime},
            #{cm.orderTime},
            #{cm.delayDays},
            #{cm.isNextMonthSettle},
            #{cm.collectAccountNumber},
            #{cm.accountNo},
            #{cm.provinceName},
            #{cm.cashierNo},
            #{cm.provinceCode},
            #{cm.packetNo},
            #{cm.tradingTime}
            )
        </foreach>
    </insert>

    <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Long">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        <include refid="table"/>
        WHERE id=#{id}
    </select>
    <select id="selectByOutTradeNo" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        <include refid="table"/>
        WHERE `out_trade_no`=#{outTradeNo}
    </select>


    <update id="updateById" parameterType="com.zanclick.redpacket.core.entity.RedPacket">
        UPDATE
        <include refid="table"/>
        <set>
            <if test="amount != null and amount != ''">
                 `amount`=#{amount},
            </if>
            <if test="tradeNo != null and tradeNo != ''">
                 `trade_no`=#{tradeNo},
            </if>
            <if test="outTradeNo != null and outTradeNo != ''">
                 `out_trade_no`=#{outTradeNo},
            </if>
            <if test="brwOrdNo != null and brwOrdNo != ''">
                 `brw_ord_no`=#{brwOrdNo},
            </if>
            <if test="title != null and title != ''">
                 `title`=#{title},
            </if>
            <if test="appId != null and appId != ''">
                 `app_id`=#{appId},
            </if>
            <if test="state != null">
                 `state`=#{state},
            </if>
            <if test="type != null">
                 `type`=#{type},
            </if>
            <if test="merchantNo != null and merchantNo != ''">
                 `merchant_no`=#{merchantNo},
            </if>
            <if test="cashierPhoneNo != null and cashierPhoneNo != ''">
                 `cashier_phone_no`=#{cashierPhoneNo},
            </if>
            <if test="sellerNo != null and sellerNo != ''">
                 `seller_no`=#{sellerNo},
            </if>
            <if test="customPhone != null and customPhone != ''">
                 `custom_phone`=#{customPhone},
            </if>
            <if test="createTime != null">
                 `create_time`=#{createTime},
            </if>
            <if test="orderTime != null">
                 `order_time`=#{orderTime},
            </if>
            <if test="delayDays != null">
                 `delay_days`=#{delayDays},
            </if>
            <if test="isNextMonthSettle != null">
                 `is_next_month_settle`=#{isNextMonthSettle},
            </if>
            <if test="collectAccountNumber != null and collectAccountNumber != ''">
                 `collect_account_number`=#{collectAccountNumber},
            </if>
            <if test="accountNo != null and accountNo != ''">
                 `account_no`=#{accountNo},
            </if>
            <if test="provinceName != null and provinceName != ''">
                 `province_name`=#{provinceName},
            </if>
            <if test="cashierNo != null and cashierNo != ''">
                 `cashier_no`=#{cashierNo},
            </if>
            <if test="provinceCode != null and provinceCode != ''">
                 `province_code`=#{provinceCode},
            </if>
            <if test="packetNo != null and packetNo != ''">
                 `packet_no`=#{packetNo},
            </if>
            <if test="tradingTime != null">
                 `trading_time`=#{tradingTime},
            </if>
        </set>
        WHERE id=#{id}
    </update>

    <delete id="deleteById" parameterType="java.lang.Long">
        DELETE
        FROM
        <include refid="table"/>
        WHERE id=#{id}
    </delete>
    <sql id="Base_Where_Clause_sumAmount">
        <where>
            <trim prefixOverrides="and">
                <if test="id != null">
                    AND `id`=#{id}
                </if>
                <if test="amount != null and amount != ''">
                    AND `amount`=#{amount}
                </if>
                <if test="tradeNo != null and tradeNo != ''">
                    AND `trade_no`=#{tradeNo}
                </if>
                <if test="outTradeNo != null and outTradeNo != ''">
                    AND `out_trade_no`=#{outTradeNo}
                </if>
                <if test="title != null and title != ''">
                    AND `title`=#{title}
                </if>
                <if test="appId != null and appId != ''">
                    AND `app_id`=#{appId}
                </if>
                <if test="state != null">
                    AND `state`=#{state}
                </if>
                <if test="type != null">
                    AND `type`=#{type}
                </if>
                <if test="merchantNo != null and merchantNo != ''">
                    AND `merchant_no`=#{merchantNo}
                </if>
                <if test="cashierPhoneNo != null and cashierPhoneNo != ''">
                    AND `cashier_phone_no`=#{cashierPhoneNo}
                </if>
                <if test="sellerNo != null and sellerNo != ''">
                    AND `seller_no`=#{sellerNo}
                </if>
                <if test="customPhone != null and customPhone != ''">
                    AND `custom_phone`=#{customPhone}
                </if>
                <if test="createTime != null">
                    AND `create_time`=#{createTime}
                </if>
                <if test="startTime != null">
                    and create_time &gt;= DATE_FORMAT(#{startTime},'%Y-%m-%d %H:%i:%s')
                </if>
                <if test="endTime != null">
                    and create_time &lt;= DATE_SUB( DATE_ADD(#{endTime}, INTERVAL 1 DAY),INTERVAL 1 SECOND)
                </if>
            </trim>
        </where>
        ORDER BY id DESC
        <if test="offset == null and limit != null">
            limit #{limit}
        </if>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </sql>

    <select id="selectSunAmount" resultType="java.lang.String"
            parameterType="com.zanclick.redpacket.core.entity.RedPacket">
        SELECT
        round(sum(amount),2)
        FROM
        <include refid="table"/>
        <include refid="Base_Where_Clause_sumAmount"/>
    </select>
    <select id="findByPacketNo" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        <include refid="table"/>
        WHERE packet_no=#{packetNo}
    </select>
</mapper>
