<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zanclick.redpacket.core.mapper.WalletMapper">
    <resultMap id="BaseResultMap" type="com.zanclick.redpacket.core.entity.Wallet">
            <id column="id" property="id" jdbcType="BIGINT"/>
            <result column="user_name" property="userName" jdbcType="VARCHAR"/>
            <result column="total_amount" property="totalAmount" jdbcType="VARCHAR"/>
            <result column="can_withdraw_amount" property="canWithdrawAmount" jdbcType="VARCHAR"/>
            <result column="state" property="state" jdbcType="INTEGER"/>
            <result column="receive_no" property="receiveNo" jdbcType="VARCHAR"/>
            <result column="receive_name" property="receiveName" jdbcType="VARCHAR"/>
            <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="table">wallet</sql>
    <sql id="Base_Column_List">
            `id`,
            `user_name`,
            `total_amount`,
            `can_withdraw_amount`,
            `state`,
            `receive_no`,
            `receive_name`,
            `create_time`
    </sql>
    <sql id="Base_Where_Clause">
        <where>
            <trim prefixOverrides="and">
                    <if test="id != null">
                        AND `id`=#{id}
                    </if>
                    <if test="userName != null and userName != ''">
                        AND `user_name`=#{userName}
                    </if>
                    <if test="totalAmount != null and totalAmount != ''">
                        AND `total_amount`=#{totalAmount}
                    </if>
                    <if test="canWithdrawAmount != null and canWithdrawAmount != ''">
                        AND `can_withdraw_amount`=#{canWithdrawAmount}
                    </if>
                    <if test="state != null">
                        AND `state`=#{state}
                    </if>
                    <if test="receiveNo != null and receiveNo != ''">
                        AND `receive_no`=#{receiveNo}
                    </if>
                    <if test="receiveName != null and receiveName != ''">
                        AND `receive_name`=#{receiveName}
                    </if>
                    <if test="createTime != null">
                        AND `create_time`=#{createTime}
                    </if>
            </trim>
        </where>
        ORDER BY id DESC
        <if test="offset == null and limit != null">
            limit #{limit}
        </if>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </sql>

    <!-- 查询总数 -->
    <select id="selectCount" resultType="java.lang.Long" parameterType="java.util.Map">
        SELECT count(id)
        FROM
        <include refid="table"/>
        <include refid="Base_Where_Clause"/>
    </select>

    <!-- 查询 -->
    <select id="select" resultMap="BaseResultMap" parameterType="java.util.Map">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        <include refid="table"/>
        <include refid="Base_Where_Clause"/>
    </select>

    <!-- 查询所有 -->
    <select id="selectAll" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        <include refid="table"/>
    </select>

    <insert id="insert" parameterType="com.zanclick.redpacket.core.entity.Wallet" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO
        <include refid="table"/>
        (
            `id`,
            `user_name`,
            `total_amount`,
            `can_withdraw_amount`,
            `state`,
            `receive_no`,
            `receive_name`,
            `create_time`
        )
        VALUES(
            #{id},
            #{userName},
            #{totalAmount},
            #{canWithdrawAmount},
            #{state},
            #{receiveNo},
            #{receiveName},
            #{createTime}
        )
    </insert>

    <insert id="insertBatch" parameterType="java.util.List" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO
        <include refid="table"/>
        (
            `id`,
            `user_name`,
            `total_amount`,
            `can_withdraw_amount`,
            `state`,
            `receive_no`,
            `receive_name`,
            `create_time`
        )
        VALUES
        <foreach collection="list" item="cm" index="index" separator=",">
            (
            #{cm.id},
            #{cm.userName},
            #{cm.totalAmount},
            #{cm.canWithdrawAmount},
            #{cm.state},
            #{cm.receiveNo},
            #{cm.receiveName},
            #{cm.createTime}
            )
        </foreach>
    </insert>

    <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Long">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        <include refid="table"/>
        WHERE id=#{id}
    </select>
    <select id="findByUserName" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        <include refid="table"/>
        WHERE user_name=#{userName}
    </select>

    <update id="updateById" parameterType="com.zanclick.redpacket.core.entity.Wallet">
        UPDATE
        <include refid="table"/>
        <set>
            <if test="userName != null and userName != ''">
                 `user_name`=#{userName},
            </if>
            <if test="totalAmount != null and totalAmount != ''">
                 `total_amount`=#{totalAmount},
            </if>
            <if test="canWithdrawAmount != null and canWithdrawAmount != ''">
                 `can_withdraw_amount`=#{canWithdrawAmount},
            </if>
            <if test="state != null">
                 `state`=#{state},
            </if>
            <if test="receiveNo != null and receiveNo != ''">
                 `receive_no`=#{receiveNo},
            </if>
            <if test="receiveName != null and receiveName != ''">
                 `receive_name`=#{receiveName},
            </if>
            <if test="createTime != null">
                 `create_time`=#{createTime},
            </if>
        </set>
        WHERE id=#{id}
    </update>

    <delete id="deleteById" parameterType="java.lang.Long">
        DELETE
        FROM
        <include refid="table"/>
        WHERE id=#{id}
    </delete>
</mapper>
